{% extends 'adminbase.html.twig' %}

{% block title %}Car List{% endblock %}

{% block body %}

    <SCRIPT language="JavaScript" type="text/javascript">

        function openWin( windowURL, windowName, windowFeatures ) { window.open( windowURL, windowName, windowFeatures );}

    </SCRIPT>

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
    </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                        <a href="{{ asset('assets') }}/admin/javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                            <img src="{{ asset('uploads/images/' ~ app.user.image) }}" style="height: 30px">                        </a>
                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"  href="{{ asset('assets') }}/admin/javascript:;"> Profile</a>
                            <a class="dropdown-item"  href="{{ asset('assets') }}/admin/javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                            <a class="dropdown-item"  href="{{ asset('assets') }}/admin/javascript:;">Help</a>
                            <a class="dropdown-item"  href="{{ asset('assets') }}/admin/login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                        </div>
                    </li>

                    <li role="presentation" class="nav-item dropdown open">
                        <a href="{{ asset('assets') }}/admin/javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-green">6</span>
                        </a>
                        <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                            <li class="nav-item">
                                <a class="dropdown-item">
                                    <span class="image"><img src="{{ asset('assets') }}/admin/images/img.jpg" alt="Profile Image" /></span>
                                    <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
                                    <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item">
                                    <span class="image"><img src="{{ asset('assets') }}/admin/images/img.jpg" alt="Profile Image" /></span>
                                    <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
                                    <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item">
                                    <span class="image"><img src="{{ asset('assets') }}/admin/images/img.jpg" alt="Profile Image" /></span>
                                    <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
                                    <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item">
                                    <span class="image"><img src="{{ asset('assets') }}/admin/images/img.jpg" alt="Profile Image" /></span>
                                    <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
                                    <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <div class="text-center">
                                    <a class="dropdown-item">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <a href="{{ path('admin_car_new') }}" class="btn btn-info">Create New Car</a>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Car List Table</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                          <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table class="table table-bordered" >
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Category</th>
                                    <th>Title</th>
                                    <th>User</th>
                                    <th>Image</th>
                                    <th>Model</th>
                                    <th>Fuel</th>
                                    <th>Gear</th>
                                    <th>Price</th>
                                    <th>I.Gallery</th>
                                    <th>Contents</th>
                                    <th>Status</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for car in cars %}
                                    <tr>
                                        <td>{{ car.id }}</td>
                                        <td>{{ car.catname }}</td>
                                        <td nowrap>{{ car.title }}</td>
                                        <td nowrap>
                                            <a href="{{ path('admin_user_show', {'id': car.userid}) }}">
                                               {{ car.name }} {{ car.surname }}
                                            </a>
                                        </td>
                                        <td><img src="{{ asset('uploads/images/' ~ car.image) }}" height="40" ></td>
                                        <td>{{ car.model }}</td>
                                        <td>{{ car.fuel }}</td>
                                        <td>{{ car.transmission }}</td>
                                        <td>{{ car.price }}</td>

                                        <td>
                                            <a href="javascript:openWin('{{ path('admin_image_new',{'id': car.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=50,left=100,menuBar=no,scrollBars=yes,resizable=no,width=900,height=600');">
                                                <img src="{{ asset('assets/admin/img') }}/gallery.png" height="40" title="Image Gallery">
                                            </a>
                                        </td>


                                        <td>
                                            <a href="javascript:openWin('{{ path('admin_content_new',{'id': car.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=50,left=100,menuBar=no,scrollBars=yes,resizable=no,width=900,height=600');">
                                                <img src="{{ asset('assets/admin/img') }}/contentt.png" height="40" title="Contents">
                                            </a>
                                        </td>

                                        <td>{{ car.status }}</td>


                                        <td>
                                            <a href="{{ path('admin_car_show', {'id': car.id}) }}" class="btn btn-info">Show</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_car_edit', {'id': car.id}) }}" class="btn btn-info" >Edit</a>
                                        </td>

                                        <td>
                                            {{ include('admin/car/_delete_form.html.twig') }}
                                        </td>

                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="21">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}
